name: Update Address on GitHub Pages

on:
  repository_dispatch:
    types: [update_address]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update address in file
        id: update_file
        run: |
          ADDRESS=${{ github.event.client_payload.address }}
          sed -i "s|NODE_SERVER_ADDRESS|$ADDRESS|g" index.html

      - name: Commit changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add index.html
          git commit -m 'Update address via webhook'
          git push

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./

      - name: Send completion status to Termux
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"status": "completed"}' ${{ github.event.client_payload.callback_url }}
